@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  color: white;
  background-color: black;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3px;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.detail{
  text-align: left;
  opacity: 0;
  filter: blur(7px);
  transform: translateY(-200px);
  transition: all 1.4s;
}

.detailsFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  filter: blur(0px);
  opacity: 1;
  transform: translateX(0%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

#studios {
  background-color: red;
  color: white;
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 0.1rem;
}

#charectersOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characters {
  cursor: pointer;
  transition: 0.5s;
  width: 15rem;
  text-align: center;
  background-color: red;
  border: 1px solid rgb(181, 0, 0);
  padding: 3rem;
  border-radius: 4px;
  margin: 0rem 1.5rem 0rem 1.5rem;
}


.characters:hover{
  border: 1px solid rgb(181, 0, 0);
  background-color: black;
}


#charactersimg {
   display: flex;
   justify-content: end;
}


img{
   width: 21rem;
}


 

 .common{
  width: 50%;
  padding: 5rem;
 }

 section{
  width: 100%;
 }




 nav{
  text-align: center;
  padding: 3rem 0rem 1rem 0rem;
  word-spacing: 3rem;
 }

.nav-links{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

.nav-links:hover{
  color: red;
  transition: .3s;
  
}

#explorebtn{
  margin-top: 3rem;
  padding: 1rem 6rem 1rem 6rem;
  background-color: rgb(255, 0, 0);
  border-radius:4px;
}

#explorebtn:hover{
  background-color: rgb(165, 11, 11);
  transition: .4s;
  cursor: pointer;
}